@charset "utf-8";
/* CSS Document */
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

h1 {
  font-family: 'Stalemate', cursive;
  margin: 10px 0 -15px 0;
  text-shadow: 4px 4px 4px #aaa;
  font-size: 90px;
  font-weight: 400;
  color: #111;
}

h4 {
  margin: 10px 0 30px 0;
  # letter-spacing: 10px; 
  font-family: 'Josefin Slab', serif;	  
  font-size: 25px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
}

/* PERSONALIZED CSS
-------------------------------------------------- */

.websites .col-lg-4 {
    text-align: center;
}
